---
- name: Add OS specific variables
  ansible.builtin.include_vars: "{{ lookup('first_found', restic_os_variables) }}"

- name: Perform optional versionscheck
  ansible.builtin.include_tasks: 'versioncheck.yml'
  when: submodules_versioncheck | bool

- name: Add restic user
  ansible.builtin.include_tasks: 'user.yml'
  when: restic_user == 'restic'

- name: Make sure restic is available
  ansible.builtin.include_tasks: 'preparation.yml'

- name: Make sure restic is installed
  ansible.builtin.include_tasks: 'install.yml'
  when: not restic_executable.stat.exists or not restic_installed.stat.exists

- name: Initialize restic repo(s)
  ansible.builtin.include_tasks: 'configure.yml'

- name: Create backup script
  ansible.builtin.include_tasks: 'backup.yml'
  loop_control:
    loop_var: loop_distribution
  vars:
    distribution: '{{ ansible_facts["distribution"] }}'
    distribution_version: '{{ ansible_facts["distribution_version"] }}'
    distribution_major_version: '{{ ansible_facts["distribution_major_version"] }}'

- name: Schedule restic backup
  ansible.builtin.include_tasks: 'schedule.yml'
  loop_control:
    loop_var: loop_distribution
  vars:
    distribution: '{{ ansible_facts["distribution"] }}'
    distribution_version: '{{ ansible_facts["distribution_version"] }}'
    distribution_major_version: '{{ ansible_facts["distribution_major_version"] }}'

- name: Set user permissions on folders
  ansible.builtin.include_tasks: 'permissions.yml'

- name: Run backups now
  ansible.builtin.include_tasks: 'run_backup.yml'
  when: restic_backup_now | bool
