[Unit]
Description=Backup {{ item.name }} using restic
{% if item.lvm is defined %}
Conflicts=fstrim.service
After=fstrim.timer
{% endif %}

[Service]
Type=oneshot
{% if item.lvm is defined %}
PrivateMounts=on
{% endif %}
{% if item.niceness is defined %}
ExecStart=/usr/bin/nice -n {{ item.niceness }} {{ restic_script_dir }}/backup-{{ item.name }}.sh
{% else %}
ExecStart={{ restic_script_dir }}/backup-{{ item.name }}.sh
{% endif %}
TimeoutStartSec=0
Environment="CRON=true"
