[Unit]
Description=Run restic backup {{ item.name }} every night

[Timer]
OnCalendar={{ item.schedule_oncalendar | default(restic_systemd_timer_default_OnCalendar) }}
RandomizedDelaySec={{ restic_systemd_timer_randomizeddelaysec }}
Persistent=true

[Install]
WantedBy=timers.target
